.Videofooter{
position: relative;
bottom: 20%;
color: white;
margin-left: 30px;


}

.Videofooter__text h5{
    padding-bottom: 20px;
}

.Videofooter__text p{
    padding-bottom: 20px;
}

.Videofooter__music{
display: flex;

}



.Videofootermusic__text{
    
    width: 80%;
    overflow: hidden;

}

.Videofootermusic__text p{
    animation: moveTheText 4s infinite linear;
}


.Videofooter__record{
animation: spinTheRecord 3s infinite linear;   
position: absolute;
bottom: 5px;
right: 20px;
height: 50px;
filter: invert(1);

}

@keyframes spinTheRecord {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveTheText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media only screen and ( max-width: 440px ){
    .Videofooter{
        bottom: 22%;
    }
    .Videofootermusic__text{
        width: 78%;
    }

    }
  

    
